@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{
    //string Tien(string XXX)
    //{
    //    string KetQua = "";
    //    int DoDai = XXX.Length;
    //    for (int i = DoDai - 1; i > -1; i--)
    //    {
    //        KetQua = XXX[i] + KetQua;
    //        if ((DoDai - i == 3 && DoDai > 3) || (DoDai - i == 6 && DoDai > 6))
    //            KetQua = "." + KetQua;
    //    }
    //    return KetQua;
    //}
    string Tien(int soTien)
    {
        return String.Format("{0:0,0}", soTien);
    }
    var Show = Tien(1000);
}
@Show
